# API Backend URL (sem /api no final, será adicionado automaticamente)
NEXT_PUBLIC_API_URL=http://localhost:3000

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=your-secret-key-here-generate-with-openssl-rand-base64-32

# Environment
NODE_ENV=development
